@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;700;800&display=swap');

* { box-sizing: border-box }

:root {
   --theme-color: #10cab7;
   --theme-color2: #2c4755;
}

body {
   background-color: #fff;
   font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.container {
   margin: auto;
}

/* very small */
@media (max-width: 767px){
   .container {
      padding: 0 15px;
   }
}
/* small */
@media (min-width: 768px) {
   .container {
      width: 750px;
      padding: 0 15px;
   }
}
/* medium */
@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}
/* large */
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}

header { padding: 20px }

header .container.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 25px;
}

header .container.nav img {
   height: 100%;
   width: 60px;
}

header .container.nav .links { position: relative }

header .container.nav .links .icon {
   width: 30px;
   height: 23px;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-between;
   align-items: flex-end;
   cursor: pointer;
}

header .container.nav .links .icon span {
   background-color: var(--theme-color2);
   width: 100%;
   height: 3px;
}

header .container.nav .links .icon span:nth-child(2) {
   width: 60%;
   transition: .7s;
}

header .container.nav .links:hover .icon span:nth-child(2) {
   width: 100%;
}

header .container.nav .links ul {
   list-style: none;
   padding: 0;
   margin: 0;
   background-color: #eee;
   position: absolute;
   right: 5px;
   font-size: 22px;
   top: calc(100% + 17px);
   text-transform: capitalize;
   min-width: 200px;
   display: none;
}

header .container.nav .links:hover ul {
   display: block;
}

header .container.nav ul::after {
   content: "";
   position: absolute;
   top: -18px;
   right: 0;
   width: 0;
   height: 0;
   border-width: 9px;
   border-style: solid;
   border-color: transparent #eee #eee transparent;
}

header .container.nav ul li {
   padding: 10px;
   border-bottom: 1px solid #aaa;
   transition: .5s;
}

header .container.nav ul li:hover {
   margin-left: 10px;
}

header .container.nav ul li a {
   text-decoration: none;
   color: unset;
}